#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  align-items: center;
  padding-top: 70px;
}

h1{
  font-family: serif;
  font-weight:bolder;
  font-size:xx-large;
  
}

p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}